BACKEND_BASE_URL=http://127.0.0.1:8090
FRONTEND_BASE_URL=https://127.0.0.1:3000

STORE_ID=store-acme

ADMIN_USERNAME=admin
ADMIN_PASSWORD=SECRET
USERS_PASSWORD=SECRET

REQUESTS_TIMEOUT=30
VERIFY_SSL=false

GOOGLE_MAPS_API_KEY=SECRET

POLL_INTERVAL=2
POLL_ATTEMPTS=10